.load__container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: $light-grey;
  height: 100vh;
  width: 100vw;
}

.load__container-text {
  font-size: 64px;
}

.load__spinner {
  color: $dark-grey;
}
