.titles {
  font-family: "Roboto Mono", monospace;
}

.texts {
  font-family: "Roboto", sans-serif;
}

.eamz-btn {
  color: white;
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  transition: all 0.5s;
}

.eamz-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px #000000;
}

.eamz-btn:focus {
  box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.25);
  transform: scale(0.95);
  outline: none;
}

.eamz-btn:active {
  outline: none;
}

#root {
  display: flex;
}

.fix-col {
  position: fixed !important;
}

.row-navbar {
  display: flex;
  flex-direction: row;
  height: 100vh;
  background-color: #181818;
  height: 100vh;
  z-index: 2;
}

.link-home {
  transition: all 1.5s;
  width: 25px;
}

.link-home:hover {
  transform: scale(2) rotate(360deg);
}

.header-container {
  background: linear-gradient(
    90deg,
    rgba(24, 24, 24, 1) 20%,
    rgba(77, 77, 77, 1) 80%
  );
}

.home-container {
  background: linear-gradient(
    90deg,
    rgba(24, 24, 24, 1) 20%,
    rgba(77, 77, 77, 1) 80%
  );
  min-height: 100vh;
}

.img-header-home {
  height: 100px;
}

.title-home {
  font-size: 48px;
  background: linear-gradient(
    270deg,
    rgba(239, 62, 54) 0%,
    rgba(23, 190, 187) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.text-home {
  font-size: 40px;
  color: "white";
}

@media (max-width: 992px) {
  #root {
    display: block;
  }

  .fix-col {
    position: relative !important;
  }

  .home-container {
    background: linear-gradient(
      0deg,
      rgba(24, 24, 24, 1) 25%,
      rgba(77, 77, 77, 1) 75%
    );
    min-height: 100vh;
  }

  .row-navbar {
    width: 100%;
    bottom: 0;
    flex-direction: row;
    position: fixed;
    height: 10vh;
  }

  .title-name-home {
    justify-content: center;
  }

  .title-home {
    font-size: 40px;
  }

  .text-home {
    font-size: 32px;
  }

  .margin-bottom-footer {
    margin-bottom: 12vh;
  }
}

.lendt-title {
  background: linear-gradient(
    270deg,
    rgba(52, 58, 64, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.lendt-btn {
  background: linear-gradient(
    90deg,
    rgba(52, 58, 64, 1) 0%,
    rgba(52, 58, 64, 0.25) 100%
  );
}

.medik-title {
  background: linear-gradient(
    270deg,
    rgba(162, 3, 3, 1) 0%,
    rgba(255, 255, 255, 1) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.medik-btn {
  background: linear-gradient(
    90deg,
    rgba(162, 3, 3, 1) 0%,
    rgba(162, 3, 3, 0.25) 100%
  );
}

.projects-img {
  width: 300px;
}

.mobileApp-title {
  background: linear-gradient(
    90deg,
    rgba(97, 218, 251, 1) 0%,
    rgba(97, 218, 251, 0.25) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.mobileApp-btn {
  background: linear-gradient(
    90deg,
    rgba(97, 218, 251, 1) 0%,
    rgba(97, 218, 251, 0.25) 100%
  );
}

.videos-projects {
  border-radius: 5px;
  width: 200px;
}

.instagram-img {
  width: 200px;
}

.instagram-btn {
  background: linear-gradient(
    45deg,
    rgba(248, 197, 96, 1) 0%,
    rgba(161, 66, 184, 1) 100%
  );
}

.instagram-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px #000000;
}

.instagram-btn:focus {
  box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.25);
  transform: scale(0.95);
  outline: none;
}

.instagram-btn:active {
  outline: none;
}

/* Academic styles page */

.unitec-title {
  font-size: 40px;
  background: linear-gradient(
    270deg,
    rgba(246, 139, 31, 1) 25%,
    rgba(0, 111, 186, 1) 75%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.ironhack-title {
  font-size: 40px;
  background: linear-gradient(
    90deg,
    rgba(71, 180, 251, 1) 25%,
    rgba(255, 255, 255, 1) 75%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.academic-imgs {
  width: 200px;
}

/* Professional styles page */

.ids-title {
  font-size: 40px;
  background: linear-gradient(
    90deg,
    rgba(134, 184, 29, 1) 25%,
    rgba(203, 212, 36, 1) 75%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.appwit-title {
  font-size: 40px;
  background: linear-gradient(
    90deg,
    rgba(137, 61, 148, 1) 25%,
    rgba(137, 61, 148, 0.25) 75%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.maikai-title {
  font-size: 40px;
  background: linear-gradient(
    90deg,
    rgba(246, 205, 170, 1) 25%,
    rgba(217, 167, 190, 1) 75%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.maikai-btn {
  background: linear-gradient(
    90deg,
    rgba(246, 205, 170, 1) 25%,
    rgba(217, 167, 190, 1) 75%
  );
}

.maikai-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px #000000;
}

.maikai-btn:focus {
  box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.25);
  transform: scale(0.95);
  outline: none;
}

.maikai-btn:active {
  outline: none;
}

.promasa-title {
  font-size: 40px;
  background: linear-gradient(
    90deg,
    rgba(12, 79, 157, 1) 25%,
    rgba(12, 79, 157, 0.25) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.promasa-btn {
  background: linear-gradient(
    90deg,
    rgba(12, 79, 157, 1) 25%,
    rgba(12, 79, 157, 0.25) 100%
  );
}

.promasa-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px #000000;
}

.promasa-btn:focus {
  box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.25);
  transform: scale(0.95);
  outline: none;
}

.promasa-btn:active {
  outline: none;
}

.digitalkey-title {
  font-size: 40px;
  background: linear-gradient(
    90deg,
    rgba(43, 105, 113, 1) 25%,
    rgba(43, 105, 113, 0.25) 100%
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.digitalkey-btn {
  background: linear-gradient(
    90deg,
    rgba(43, 105, 113, 1) 25%,
    rgba(43, 105, 113, 0.25) 100%
  );
}

.digitalkey-btn:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 10px #000000;
}

.digitalkey-btn:focus {
  box-shadow: inset 0px 0px 5px 0px rgba(255, 255, 255, 0.25);
  transform: scale(0.95);
  outline: none;
}

.digitalkey-btn:active {
  outline: none;
}

/* Information styles page */

.title-info {
  font-size: 48px;
}

.input-group-text {
  border: none !important;
}

.form-control {
  border: none !important;
}

.form-control:focus {
  box-shadow: none !important;
  border-color: #000000 !important;
}

.textarea-info {
  resize: none;
}

.ready-btn {
  background: radial-gradient(
    circle,
    rgba(164, 36, 59, 1) 0%,
    rgba(164, 36, 59, 0.25) 100%
  );
}

.linkedin-btn {
  background: linear-gradient(
    90deg,
    rgba(41, 119, 181, 1) 0%,
    rgba(40, 62, 74, 1) 100%
  );
}

.github-btn {
  background: linear-gradient(
    90deg,
    rgba(0, 0, 0, 1) 0%,
    rgba(0, 0, 0, 0.25) 100%
  );
}

.social-icon {
  width: 40px;
}

.cv-btn {
  background: radial-gradient(
    circle,
    rgba(254, 95, 85, 1) 0%,
    rgba(254, 95, 85, 0.5) 100%
  );
}
