.titles {
  font-family: "Barlow", sans-serif;
}

.texts {
  font-family: "Roboto", sans-serif;
}

.promasa-color {
  color: #0a54a4;
}

.bg-dark {
  background-color: #0a54a4 !important;
  min-height: 10vh;
}

.modal-body {
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 70vh;
}

.modal-img {
  max-height: 50vh;
}

.banner-container {
  background-image: url("/images/banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  height: 50vh;
  width: 100%;
}

@media (max-width: 430px) {
  .banner-container {
    display: none;
  }
}

.banner-container::before {
  filter: blur(50%);
}

.banner-txt {
  border-top: 5px solid rgba(0, 84, 164, 1);
  border-bottom: 5px solid rgba(0, 84, 164, 1);
  letter-spacing: 10px;
}

.banner-btn,
.btn,
.btn-lg {
  padding: 10px 50px;
  border-radius: 50px;
  background-color: #0a54a4;
  border-color: #0b5eb8;
}

.navlink {
  cursor: pointer;
  padding: 5px;
}

.navlink:hover {
  border-bottom: 1px solid white;
  text-decoration: none;
}

.carousel-section {
  margin-top: 10vh;
  max-height: 90vh;
}

.carousel-section .carousel,
.carousel-section .slide {
  max-height: 90vh;
}

.carousel-section .carousel .carousel-inner,
.carousel-section .slide .carousel-inner {
  max-height: 90vh;
}

.img-carousel {
  height: 90vh;
  width: 100%;
  object-fit: cover;
}

.carousel-control-next-icon,
.carousel-control-prev-icon {
  height: 100px !important;
  width: 100px !important;
}

.border-divider {
  border-bottom: 5px solid #a42a21;
}

.galery-home-img {
  height: 150px;
  object-fit: cover;
  width: 150px;
}

.persianas-galery {
  width: 300px;
  height: 300px;
}

.persianas-galery:hover {
  cursor: pointer;
}

.location-txt {
  font-size: 1.5rem;
  line-height: 2;
}

.contact-form {
  border: 1px solid #ced4da !important;
}

.contact-form:focus {
  border-color: rgba(10, 84, 164, 0.25);
  box-shadow: 0 0 0 0.2rem rgba(10, 84, 164, 0.5);
}

.contact-textarea {
  resize: none;
}

.promasa-footer {
  background-color: #0a54a4;
}

.footer-text {
  font-size: 10px;
  text-align: justify;
}

@media (max-width: 960px) {
  .carousel-section .carousel .carousel-inner,
  .carousel-section .slide,
  .carousel-section .slide .carousel-inner {
    max-height: 80vh;
  }

  .navlink {
    margin-bottom: 5px;
  }

  .prevent-fail-nav {
    display: flex;
    flex-direction: column;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
  }

  .galery-home-img {
    height: 100px;
    width: 100px;
  }
}
